.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
  margin-right: 10px;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}
.main-nav-item-signed-in {
  margin-right: 30px !important;
}
.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}
.fa-user-circle {
  margin-right: 5px;
  color: #2c3e50;
  font-size: 16px;
  margin-right: 10px;
  position: absolute;
  top: 3px;
  left: -25px;
}
.fa-sign-out {
  margin-right: 10px;
  font-size: 16px;
  color: #5a6876;
  position: absolute;
  top: 3px;
  right: 70px;
}
.main-nav-items {
  position: relative;
}
