.edit__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: #e0e7ec;
}

.edit__user h1 {
  margin-bottom: 1rem;
}

.edit__user__form {
  display: flex;
  gap: 1rem;
  margin-bottom: 10px;
}

.edit__user__form input {
  width: 180px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid rgba(190, 201, 210, 255);
  border-radius: 4px;
  color: #a4a2ac;
}

.edit__user__form input:focus {
  outline: none;
  border-color: #758bf4;
  box-shadow: 0 0 6px rgba(117, 139, 244, 0.4);
}

.edit__user__actions {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid rgba(207, 206, 244, 255);
  box-shadow: 0px 0px 1px rgba(100, 88, 245, 0.5);
}

.btn.save {
  background: transparent;
  color: #7c70f7;
  width: 130px;
  font-weight: 500;
  font-size: 16px;
}

.btn.cancel {
  background: transparent;
  color: #7c70f7;
  width: 130px;
  font-weight: 500;
  font-size: 16px;
}

.btn:hover {
  background-color: #5a6ed8;
  border-color: #5a6ed8;
  color: #fff;
}
